
@font-face {
  font-family: 'CatCafe';
  src: url('CatCafe.eot?#iefix') format('embedded-opentype'),  url('CatCafe.woff') format('woff'), url('CatCafe.ttf')  format('truetype'), url('CatCafe.svg#CatCafe') format('svg');
  font-weight: normal;
  font-style: normal;
}
