body {
    overflow: hidden;
}

a {
    font-size: 35px;
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}


#graything {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
}

#background {
    position: fixed;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    #background {
        width: 100%;
        height: auto;
        bottom: 0px;
    }
}
@media (max-aspect-ratio: 16/9){
    #background {
        width: auto;
        height: 100%;
    }
}

#navbar {
    position:absolute;
}

@font-face {
    font-family: 'CatCafe';
    src: 
        url('./src/fonts/CatCafe/CatCafe.eot?#iefix') format('embedded-opentype'),  
        url('./src/fonts/CatCafe/CatCafe.woff') format('woff'), 
        url('./src/fonts/CatCafe/CatCafe.ttf')  format('truetype'), 
        url('./src/fonts/CatCafe/CatCafe.svg#CatCafe') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'EyeSpy';
    src: 
        url('./src/fonts/Eye\ Spy/EyeSpy.eot?#iefix') format('embedded-opentype'),  
        url('./src/fonts/Eye\ Spy/EyeSpy.woff') format('woff'), 
        url('./src/fonts/Eye\ Spy/EyeSpy.ttf')  format('truetype'), 
        url('./src/fonts/Eye\ Spy/EyeSpy.svg#EyeSpy') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'JMHTypewriterdry-Thin';
    src: 
        url('./src/fonts/JMH\ Typewriter\ dry-Thin/JMHTypewriterdry-Thin.eot?#iefix') format('embedded-opentype'),  
        url('./src/fonts/JMH\ Typewriter\ dry-Thin/JMHTypewriterdry-Thin.otf')  format('opentype'),
        url('./src/fonts/JMH\ Typewriter\ dry-Thin/JMHTypewriterdry-Thin.woff') format('woff'), 
        url('./src/fonts/JMH\ Typewriter\ dry-Thin/JMHTypewriterdry-Thin.ttf')  format('truetype'), 
        url('./src/fonts/JMH\ Typewriter\ dry-Thin/JMHTypewriterdry-Thin.svg#JMHTypewriterdry-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
  }